development:
  # The app_name is used as the backup filename prefix
  app_name: replace_me
  # You must create the s3_bucket specified below via an external tool like S3 Browser, etc
  s3_bucket: some-s3-bucket
  aws_access_key_id: --replace me with your AWS access key id--
  aws_secret_access_key: --replace me with your AWS secret access key--

staging:
  app_name: replace_me
  s3_bucket: some-s3-bucket
  aws_access_key_id: --replace me with your AWS access key id--
  aws_secret_access_key: --replace me with your AWS secret access key--

production:
  app_name: replace_me
  s3_bucket: some-s3-bucket
  aws_access_key_id: --replace me with your AWS access key id--
  aws_secret_access_key: --replace me with your AWS secret access key--
  backup_filename: <%= "#{timestamp}_#{server_name}" %>
  dump_all: true # Remove if you want this off.

##### To setup a cron for this. 
# prompt: crontab -e
# 1,15,30,45 * * * * cd /mnt/app/current; sudo rake backup RAILS_ENV=production > /dev/null
